@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Urbanist', sans-serif;
}
.logo img{
    width: 100px;

}
.logo{
    /* margin-top: -20px; */
    margin-bottom: 10px;
}

#navbar {
    background-color : rgb(7, 43, 52);
    display: flex;
    font-family: 'Teko', sans-serif;
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1000;
    
}

#navbar > div {
    display: flex;
    font-size: 24px;
    gap: 10px; /* Reduced the gap between components */
    margin-bottom: -20px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: small;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-login{
    margin-top: 15px;
    margin-bottom: -5px;
    margin-right: 20px;

}
#navbar .hamburger {
    margin-left: 5px;
    display: none;
}

#navbar .mobilebag {
    display: none;
}


@media only screen and (max-width: 20000px) {
    #navbar .hamburger {
        display: block;
    }
    #navbar{
        position: relative;
        z-index: 100000;
    }
    .nav-login{
        margin-top: 15px;
        margin-bottom: -5px;
        margin-right: 20px;
    
    }
    .bar{
        font-size: 20px;
    }
    .functions {
        display: none !important;
    }
    #navbar .mobilebag {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navlinks {
        font-size: 42px;
        position: fixed;  
        left: -1000%;
        top: 80px;
        gap: 0px;
font-size: 24px;
        flex-direction: column;
        background-color: rgb(7, 43, 52);
        width: 100%;
        text-align: center;
        transition: 0.5s ease-in-out;
    }
    .navlinks.active {
        left: 0;
        transition: 0.5s ease-in-out;
    }
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 545px) {

    .logo img{
        width: 60px;
    
}
.logo{
    margin-bottom: -2px;
}
}